<html>
<body>
    Новая задача: {{task.name}} добавлена в систему. <br>
    Вы получили это письмо тк являетесь ответственным по этой задаче. <br>
    {{baseCloudUrl}}/task/details/{{task.id}} <br>
    {{baseCloudUrl}} <br>
</body>
</html>
