<html>
<body>
    Статус задачи:  {{task.name}}  изменился на выпонено. <br>
    Вы получили это письмо тк являетесь ответственным по этой задаче. <br>
    {{baseCloudUrl}}/task/details/{{task.id}} <br>
</body>
</html>

